// Container
.container {
    max-width: $max-width;
    margin: auto;
    overflow: hidden;
    padding: 2rem 5rem;
    margin: 2rem 5rem;
    color: black;
}

// Text styles
.x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-primary {
    color: $primary-color;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container-fluid {
    min-height: calc(100vh - 215px);
}