
// page colors 
$primary-color: rgb(3, 3, 3);
$background-color: #F5F5F5;

// text colors
$dark-text: #2F4F4F;
$light-text: #F5F5F5;

// fonts
$text-font: 'Hind', serif;
$title-font: 'Teko', sans-serif;

$footer-height: 8rem;