@import "../../sass/variable.scss";
@import "../../sass/_config.scss";
@import "../../sass/_form.scss";
@import "../../sass/_utilities.scss";

#signupBtn {
    margin: 1.2rem 3rem;
    font-family: $text-font;
    background-color: black;
}

.signupBox {
    padding: 90px 200px;
    font-family: $text-font;

}

.signup-inner {
    background-color: rgba(255,255,255, 0.6);
}