@import "../../sass/variable.scss";
@import "../../sass/_config.scss";
@import "../../sass/_form.scss";
@import "../../sass/_utilities.scss";

#signupBox {
    position: relative;
    background: url("/assets/images/signupPage.jpeg") no-repeat center center/cover;
    height: 100vh;
    width: 100vw;
    margin: 0px;

    &-inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.loginLink {
    margin-top: 20px;
    text-align: center;
}
.text-primary {
    color: black !important;
}

.loginLink {
    a {
        color: black;
        font-family: $text-font;
        font-size: 1rem;
        
    }
}

.lead {
    text-align: center !important;
    font-family: $text-font;
}
