@import "../../sass/variable.scss";
@import "../../sass/_config.scss";
@import "../../sass/_form.scss";
@import "../../sass/_utilities.scss";


.homeBox {
    margin: 0 auto;
    margin-top: 20vh;
    width: 300px;
    font-family: $text-font;

    button {
        font-size: 1.3em;
        font-weight: bold;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $text-font;
    font-size: 1rem;
    line-height: 1.6;
    background: url("/assets/images/smoke.gif") no-repeat center center/cover;
    color: #333;
}

a {
    text-decoration: none;
    color: $primary-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    font-weight: $title-weight;
}

ul {
    list-style: none;
}

img {
    width: 100%
}

// Navbar
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px $primary-color;
    opacity: 0.9;

    ul {
        display: flex;
    }

    a {
        color: #fff;
        padding: 0.45rem;
        margin: 0 0.25rem;

        &:hover {
            color: $primary-color;
        }
    }
}

// Landing
.landing {
    position: relative;
    background: url("/assets/images/landingPage.jpeg") no-repeat center center/cover;
    height: 90vh;

    &-inner {
        color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

