@import "../../sass/variable.scss";

.navbar {
    background: $primary-color;
    font-family: $text-font;

    a.titleFont {
        font-family: $title-font;
        color: $light-text;
        font-size: 3rem;
    }

    a.titleFont:hover {
        color: $light-text;
    }

    a.nav-link {
        font-size: 1.5em;
        color: $light-text !important;
    }

    .light-text {
        color: #fff
    }
}