@import "../../sass/variable.scss";

.navbar {
    background: $primary-color;
    font-family: $title-font;

    img.title {
        max-width: 250px;
        padding: 10px 0 20px 20px;
    }

    a.titleFont:hover {
        color: $light-text;
    
    }
    
    a.pages {
        color: $light-text !important;
        font-size: 2rem !important;
    }

    a.nav-link {
        font-size: 1.5rem;
        font-family: $title-font !important;
    }

    .light-text {
        color: #fff;
        padding-top: 10px;
    }
}