@import "../../sass/_config.scss";
@import "../../sass/_utilities.scss";
@import "../../sass/variable.scss";

.profilePage {
    margin: 0 auto;

    #discover {
        margin-top: 25px;
        background-color: black !important;

        
    }

    .noUser {
        width: 280px;
        text-align: center;
        margin: 0 auto;
        margin-top: 50px;

        .loginBtn {
            margin-top: 25px;
        }
    
        .loginLink {
            color: $light-text;
        }
    
        .loginLink:hover {
            text-decoration: none;
        }

        #loadingIcon {
            height: 200px;
            width: 200px;
            margin: 0 auto;
            
        }
    }

    .profileBox {
        #userTitle {
            text-align: center;
            padding: 10px;
            margin: 20px;
        }
    }
    #userTitle {
        text-transform: uppercase;
    }
}

